
ion-button{
  display: inline-flex;
  justify-content: center;
}
ion-list{
  display: inline-flex;
  justify-content: center;
}

.transparentBody {
  background: transparent !important;
}

.aclass{
  width: 100%;
}

h4{
  text-align: center;
  text-transform: capitalize;
}
ion-label{
  display: flex;
  justify-content: center;
  font-weight: 500;
}